.itemTitle{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.itemDesc{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 15px;
}

.itemPrice{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}


.itemLink{
    list-style: none;
    text-decoration: none;
    background-color: rgb(161, 234, 234);
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}