.ItemListContainer{
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
    background-color: rgb(176, 160, 191);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


img{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 45px 175px -50px 260px;
    padding: 25px 30px 80px 20px;
}

.divContainer{
    display: flex;
    margin: 15px 85px 80px 0px;
    padding: 25px 30px 80px 70px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 10px solid black;
}

.name .description .price{
    display: flex;
    margin: 15px 85px 80px 0px;
    padding: 25px 30px 80px 70px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;  
}