.ItemListContainer{
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
    background-color: rgb(176, 160, 191);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}