

.ItemListContainer{
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
    background-color: rgb(176, 160, 191);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


img{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 45px 175px -50px 520px;
    padding: 25px 30px 80px 20px;
}



.boton{
    text-decoration: none;
    color: black;background-color: brown;

    
}